<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    
    <div class="backgroundIMG">
        <div class="column">
            <img src="assets/assets/logo.png" height="20%" width="20%" class="logo">
            <div class="title"><h1><%=locals.thankYou || 'Poll Results Not Found'%></h1></div>
            <div class="row"><button style="background: linear-gradient(90deg, #996BF9FF 0%, #996BF9FF <%= locals.winnerColour || '0' %>%, #996BF977 <%= locals.winnerColour|| '0' %>%)"> <p1> <%= locals.winner  || 'Please try again' %></p1> <p2> <%= locals.winnerScore  || '0' %>% </p2></button>
            </div>
            <div class="row"><button style="background: linear-gradient(90deg, #996BF9FF 0%, #996BF9FF <%= locals.secondColour || '0' %>%, #996BF977 <%= locals.secondColour|| '0' %>%)"><p1><%= locals.second || "" %></p1><p2> <%= locals.secondScore  || '0' %>% </p2></button>
            </div>
            <div class="row"><button style="background: linear-gradient(90deg, #996BF9FF 0%, #996BF9FF <%= locals.lastColour || '0' %>%, #996BF977 <%= locals.lastColour || '0'%>%)"><p1><%= locals.last || "" %></p1><p2> <%= locals.lastScore || '0' %>%</p2></button>
            </div>
        </div>
    </div>
</body>
</html>